torch>=2.0.0
torchvision
transformers>=4.37.0
tokenizers>=0.15.0
sentencepiece
shortuuid
httpx==0.24.0
deepspeed>=0.12.0
peft>=0.4.0
bitsandbytes>=0.41.0
pydantic
markdown2[all]
numpy
requests
Pillow
wandb
gradio
accelerate>=0.21.0
einops
flash-attn>=2.3.0